<div class="container">
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <a class="navbar-brand" href="#">
                logo
            </a>
            <ul class="navbar-nav">
                <a class="nav-link" href="#" routerLink="" routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}">Service</a>
                <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">Chart</a>
                <a class="nav-link" href="#" routerLink="/matrix" routerLinkActive="matrix">Correlation Matrix</a>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>